<div class="col-xs-12">
  <a class="item-block" href="<%= job_path(job.id) %>">
    <header>
      <img src="assets/img/logo-google.jpg" alt="">
      <div class="hgroup">
        <h4><%= job.title %> </h4>
        <h5><%= job.company_name %> <span class="label label-success"><%= job.employment_type %></span></h5>
      </div>
      <time><%= time_ago_in_words job.created_at %></time>
    </header>

    <div class="item-body">
      <p><%= job.description %></p>
    </div>

    <footer>
      <ul class="details cols-3">
        <li>
          <i class="fa fa-map-marker"></i>
          <span><%= job.location %> </span>
        </li>

        <li>
          <i class="fa fa-money"></i>
          <span><%= job.salary %> </span>
        </li>

        <li>
          <i class="fa fa-certificate"></i>
          <span><%= job.education_level %> </span>
        </li>
      </ul>
    </footer>
  </a>
</div>
