<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
  <div class="container page-name">
    <h1 class="text-center">Browse jobs</h1>
    <p class="lead text-center">Use following search box to find jobs that fits you better</p>
  </div>

  <div class="container">
    <form action="#">
      <%= search_form_for @q, url: search_path do |f| %>
          <div class="row">
            <div class="form-group col-xs-12 col-sm-4">
              <%= f.text_field :title_or_company_name_or_employment_type_cont_any,
                class: "form-control", placeholder: "Job title, employment, or company" %>
            </div>

            <div class="form-group col-xs-12 col-sm-4">
              <%= f.text_field :location_cont_any, class: "form-control", placeholder: "City, state or zip" %>
            </div>

            <div class="form-group col-xs-12 col-sm-4">
              <input type="text" class="form-control" placeholder="Categories ..">
            </div>

            <div class="form-group col-xs-12 col-sm-4">
              <h6>Contract</h6>
              <% (Job::EMPLOYMENT_TYPES).each do |e|%>
                <%= check_box_tag "q[employment_type_eq_any][]", e %>
                <%= e %>(<small><%= Job.where(employment_type: e).count %></small>)
                <br>
              <% end %>
            </div>

            <div class="form-group col-xs-12 col-sm-4">
              <h6>Hourly rate</h6>
              <div class="checkall-group">
                <div class="checkbox">
                  <!-- <input type="checkbox" id="rate1" name="rate" > -->
                  <!-- <label for="rate1">All rates</label> -->
                </div>

                <div class="checkbox">
                  <%= check_box_tag "q[salary_lteq_any][]", 50 %>
                  <label for="rate2">$0 - $50</label>
                </div>

                <div class="checkbox">
                  <%= check_box_tag "q[salary_in_any][]", (50..100).to_a %>
                  <label for="rate3">$50 - $100 </label>
                </div>

                <div class="checkbox">
                  <input type="checkbox" id="rate4" name="rate">
                  <label for="rate4">$100 - $200 </label>
                </div>

                <div class="checkbox">
                  <%= check_box_tag "q[salary_gt_any][]", 200 %>
                  <label for="rate5">$200+ </label>
                </div>
              </div>
            </div>


            <div class="form-group col-xs-12 col-sm-4">
              <h6>Academic degree</h6>
                <% (Job::EDUCATION_LEVELS).each do |e|%>
                <%= check_box_tag "q[education_level_eq_any][]", e %>
                <%= e %>(<small><%= Job.where(education_level: e).count %></small>)
                <br>
              <% end %>
            </div>

          </div>

          <div class="button-group">
            <div class="action-buttons">
              <button class="btn btn-primary">Apply filter</button>
            </div>
          </div>
          <% end %>
        </form>
  </div>
</header>
<!-- END Page header -->
<!-- Main container -->
<main>
  <section class="no-padding-top bg-alt">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <h5>We found <strong><%= @q.result.count %></strong> matches </h5>
        </div>
        <div class= "text-center">
          <%= paginate @jobs %>
        </div>
        <% @jobs.each do |job| %>
          <%= render "components/job/job_item_type1", job: job %>
        <% end %>
        <div class= "text-center">
          <%= paginate @jobs %>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- END Main container -->
