<header class="page-header">
  <div class="container page-name">
    <h1 class="text-center">Add your resume</h1>
    <p class="lead text-center">Create your resume and put it online.</p>
  </div>
  <%= basic_info.hidden_field :user_id, value: current_user.id %>
  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="form-group">
        <input type="file" class="dropify" data-default-file="https://raw.githubusercontent.com/lampv318/image/master/noavatar-1.jpg">
        <span class="help-block">Please choose a 4:6 profile picture.</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="form-group">
        <%= basic_info.text_field :full_name, class: "form-control input-lg", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= basic_info.text_field :headline, class: "form-control", placeholder: "Headline (e.g. Front-end developer)" %>
      </div>
      <div class="form-group">
        <%= basic_info.text_area :description, class: "form-control", rows: "3", cols: "76", placeholder: "Short description about you" %>
      </div>
      <hr class="hr-lg">
      <h6>Basic information</h6>
      <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
            <%= basic_info.text_field :location, class: "form-control", placeholder: "Location, e.g. Melon Park, CA" %>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-globe"></i></span>
            <%= basic_info.text_field :website, class: "form-control", placeholder: "Website address" %>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
            <%= basic_info.text_field :salary, class: "form-control", placeholder: "Salary, e.g. 85"%>
            <span class="input-group-addon">Per hour</span>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
            <%= basic_info.text_field :age, class: "form-control", placeholder: "Age" %>
            <span class="input-group-addon">Years old</span>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
            <%= basic_info.text_field :phone, class: "form-control", placeholder: "Phone number" %>
          </div>
        </div>
        <div class="form-group col-xs-12 col-sm-6">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= basic_info.text_field :email_address, class: "form-control", placeholder: "Email address" %>
          </div>
        </div>
      </div>
      <hr class="hr-lg">
      <h6>Tags list</h6>
      <div class="form-group">
        <div class= "bootstrap-tagsinput">
          <%= f.text_field :tag_list, placeholder: "Tag name" %>
          <span class="help-block">Tags (separated by commas)</span>
        </div>
      </div>
    </div>
    </div>
    <div class="button-group">
      <div class="action-buttons">
        <div class="upload-button">
          <button class="btn btn-block btn-gray">Choose a resume file</button>
          <input type="file">
        </div>
        <div class="upload-button">
          <button class="btn btn-block btn-primary">Choose a cover image</button>
          <input id="cover_img_file" type="file">
        </div>
      </div>
    </div>
  </div>
</header>
