<%= form_for @resume , url: user_resumes_path do |f| %>
<!-- Page header -->
<header class="page-header">
  <div class="container page-name">
    <h1 class="text-center">Add your resume</h1>
    <p class="lead text-center">Create your resume and put it online.</p>
  </div>

  <div class="container">
    <div class="button-group">
      <div class="action-buttons">

        <div class="upload-button">
          <button class="btn btn-block btn-gray">Choose a resume file</button>
          <input type="file">
        </div>

        <div class="upload-button">
          <button class="btn btn-block btn-primary">Choose a cover image</button>
          <input id="cover_img_file" type="file">
        </div>

      </div>
    </div>
  </div>
</header>
<!-- END Page header -->
<%= render "shared/error_messages", object: f.object %>
<!-- Social media -->
<section>
  <div class="container">
    <header class="section-header">
      <span>Get connected</span>
      <h2>Social media</h2>
    </header>
    <%= f.fields_for :socials do |social| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
            <%= social.text_field :facebook_link ,class: "form-control", placeholder: "Profile URL" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
            <%= social.text_field :google_link ,class: "form-control", placeholder: "Profile URL" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
            <%= social.text_field :twitter_link ,class: "form-control", placeholder: "Profile URL" %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-github"></i></span>
            <%= social.text_field :github_link ,class: "form-control", placeholder: "Profile URL" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</section>
  <!-- Social media -->

<!-- Education -->
<section class=" bg-alt">
  <div class="container">
    <header class="section-header">
      <span>Latest degrees</span>
      <h2>Education</h2>
    </header>
    <%= f.fields_for :educations do |education| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="item-block">
          <div class="item-form">
            <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <input type="file" class="dropify" data-default-file="https://raw.githubusercontent.com/lampv318/image/master/noavatar-1.jpg">
                  <span class="help-block">Please choose a square logo</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="form-group">
                  <%= education.text_field :degree, class: "form-control", placeholder: "Degree, e.g. Bachelor" %>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Major, e.g. Computer Science">
                </div>
                <div class="form-group">
                  <%= education.text_field :school_name, class: "form-control",
                   placeholder:"School name, e.g. Massachusetts Institute of Technology" %>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">Date from</span>
                    <%= education.date_field :date_from , class: "form-control", placeholder: "e.g. 2012" %>
                    <span class="input-group-addon">Date to</span>
                    <%= education.date_field :date_to , class: "form-control", placeholder: "e.g. 2016" %>
                  </div>
                </div>
                <div class="form-group">
                  <%= education.text_area :description, placeholder: "Short description",  cols: "76" ,rows: "3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 text-center">
        <br>
        <%= link_to_add_association "Add Education" , f, :educations , class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</section>
<!-- END Education -->

<!-- Work Experience -->
<section>
  <div class="container">
    <header class="section-header">
      <span>Past positions</span>
      <h2>Work Experience</h2>
    </header>
    <%= f.fields_for :work_experiences do |work_experience| %> 
    <div class="row">
      <div class="col-xs-12">
        <div class="item-block">
          <div class="item-form">
            <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  <input type="file" class="dropify" data-default-file="https://raw.githubusercontent.com/lampv318/image/master/noavatar-1.jpg">
                  <span class="help-block">Please choose a square logo</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <div class="form-group">
                  <%= work_experience.text_field :company , 
                  class: "form-control", placeholder: "Company name" %>
                </div>
                <div class="form-group">
                  <%= work_experience.text_field :position, 
                    class:"form-control", placeholder: "Position, e.g. UI/UX Researcher" %>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">Date from</span>
                    <%= work_experience.date_field :date_from, class: "form-control", placeholder: "e.g. 2012"  %>
                    <span class="input-group-addon">Date to</span>
                    <%= work_experience.date_field :date_to, class: "form-control", placeholder: "e.g. 2016"  %>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="form-group">
                  <%= work_experience.cktext_area :description %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 text-center">
        <br>
        <%= link_to_add_association "Add Experience" , f, :work_experiences , class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</section>
<!-- END Work Experience -->

<!-- Skills -->
<section class=" bg-alt">
  <div class="container">
    <header class="section-header">
      <span>Expertise Areas</span>
      <h2>Skills</h2>
    </header>

    <%= f.fields_for :skills do |skill| %>
    <div class="row">
      <div class="col-xs-12">
        <div class="item-block">
          <div class="item-form">
            <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <%= skill.text_field :name , class: "form-control",  placeholder:"Skill name, e.g. HTML"%>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <div class="input-group">
                    <%= skill.number_field :proficiency, class: "form-control", placeholder: "Skill proficiency, e.g. 90"  %>
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 text-center">
      <br>
      <%= link_to_add_association "Add Skill" , f, :skills , class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</section>
<!-- END Skills -->

<!-- Submit -->
<section class=" bg-img" style="background-image: url(https://raw.githubusercontent.com/lampv318/image/master/bg-facts.jpg);">
  <div class="container">
    <header class="section-header">
      <span>Are you done?</span>
      <h2>Submit resume</h2>
      <p>Please review your information once more and press the below button to put your resume online.</p>
    </header>
    <p class="text-center"> <%= f.submit class: "btn btn-success btn-xl btn-round" %></p>
  </div>
</section>
  <!-- END Submit -->
<% end %>

