<nav class="navbar">
  <div class="container">

    <!-- Logo -->
    <div class="pull-left">
      <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

      <div class="logo-wrapper">
        <a class="logo" href="/"><img src="assets/img/logo.png" alt="logo"></a>
        <a class="logo-alt" href="/"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
      </div>

    </div>
    <!-- END Logo -->

    <!-- User account -->
    <div class="pull-right user-login">
      <a class="btn btn-sm btn-primary" href="user-login.html">Login</a> or <a href="<%= signup_path %>">register</a>
    </div>
    <!-- END User account -->

    <!-- Navigation menu -->
    <ul class="nav-menu">
      <%= link_to "Home", root_path %>
      <li>
        <a href="#">Position</a>
        <ul>
          <li><a href="job-list-1.html">Browse jobs - 1</a></li>
          <li><a href="job-list-2.html">Browse jobs - 2</a></li>
          <li><a href="job-list-3.html">Browse jobs - 3</a></li>
          <li><a href="job-detail.html">Job detail</a></li>
          <li><a href="job-apply.html">Apply for job</a></li>
          <li><a href="job-add.html">Post a job</a></li>
          <li><a href="job-manage.html">Manage jobs</a></li>
          <li><a href="job-candidates.html">Candidates</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Resume</a>
        <ul>
          <li><a href="resume-list.html">Browse resumes</a></li>
          <li><a href="resume-detail.html">Resume detail</a></li>
          <li><a href="resume-add.html">Create a resume</a></li>
          <li><a href="resume-manage.html">Manage resumes</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Company</a>
        <ul>
          <li><a href="company-list.html">Browse companies</a></li>
          <li><a href="company-detail.html">Company detail</a></li>
          <li><a href="company-add.html">Create a company</a></li>
          <li><a href="company-manage.html">Manage companies</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Pages</a>
        <ul>
          <li><%= link_to "Blog", blog_path %></li>
          <li><%= link_to "Blog Post", blog_post_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "FAQ", help_path %></li>
          <li><%= link_to "Pricing", pricing_path%></li>
          <!-- <li><a href="page-typography.html">Typography</a></li> -->
          <!-- <li><a href="page-ui-elements.html">UI elements</a></li> -->
        </ul>
      </li>
    </ul>
    <!-- END Navigation menu -->

  </div>
</nav>
<!-- END Navigation bar -->
